ul {
  li {
    float: left;
    padding-right: 20px;
    font-size: 30px;
  }
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
  a.active {
    color: brown;
  }
}
navbar {
  width: 100%;
  display: flex;
}
